a[id] {
  color: #999;
}

a[id]:target {
  color: #428bca;
}

body {
  padding-bottom: 100px;
}

#reference h3 {
  margin-top: 1em;
}

#reference h4 {
  margin-top: 1em;
}

#reference h3,
#reference h4 {
  padding-top: 2px;
}

#toc {
  padding-top: 26px;
}

#toc h5 {
  margin-top: 1em;
}

#toc h6 {
  margin-left: 1em;
}
