---
layout: default
---

<div class="row">
  <div id="reference" class="col-md-8">
    <h1>API reference</h1>
    {{ content }}
  </div>
  <div id="toc" class="col-md-4">
    <h4>Components</h4>

    <h5><a href="#hashable.hash">hashable.hash</a></h5>
    <h6><a href="#hash.change">hash.change</a></h5>
    <h6><a href="#hash.check">hash.check</a></h5>
    <h6><a href="#hash.data">hash.data</a></h5>
    <h6><a href="#hash.default">hash.default</a></h5>
    <h6><a href="#hash.enable">hash.enable</a></h5>
    <h6><a href="#hash.disable">hash.disable</a></h5>
    <h6><a href="#hash.disable">hash.disable</a></h5>
    <h6><a href="#hash.format">hash.format</a></h5>
    <h6><a href="#hash.parse">hash.parse</a></h5>
    <h6><a href="#hash.read">hash.read</a></h5>
    <h6><a href="#hash.set">hash.set</a></h5>
    <h6><a href="#hash.update">hash.update</a></h5>
    <h6><a href="#hash.url">hash.url</a></h5>
    <h6><a href="#hash.write">hash.write</a></h5>

    <h5><a href="#hashable.format">hashable.format</a></h5>
    <h6><a href="#format.call">format</a></h6>
    <h6><a href="#format.match">format.match</a></h6>
    <h6><a href="#format.parse">format.parse</a></h6>
    <h6><a href="#format.query">format.query</a></h6>


    <h5><a href="#hashable.format.path">hashable.format.path</a></h5>
    <h6><a href="#path.call">path</a></h6>
    <h6><a href="#path.match">path.match</a></h6>
    <h6><a href="#path.parse">path.parse</a></h6>


    <h5><a href="#hashable.format.map">hashable.format.map</a></h5>
    <h6><a href="#map.call">map</a></h6>
    <h6><a href="#map.match">map.match</a></h6>
    <h6><a href="#map.parse">map.parse</a></h6>
    <h6><a href="#map.precision">map.precision</a></h6>

    <h5><a href="#hashable.validFragment">hashable.validFragment</a></h5>

    <h5><a href="#utils">Utility functions</a></h5>
    <h6><a href="#hashable.copy">hashable.copy</a></h6>
    <h6><a href="#hashable.diff">hashable.diff</a></h6>
    <h6><a href="#hashable.empty">hashable.empty</a></h6>
    <h6><a href="#hashable.extend">hashable.extend</a></h6>
    <h6><a href="#hashable.functor">hashable.functor</a></h6>

    <h5><a href="#plugins">Plugins</a></h5>
    <h6><a href="#leaflet">Leaflet</a></h5>

  </div>
</div>
<script>
  d3.selectAll("a[id]")
    .filter(function() {
      return !this.hasAttribute("href");
    })
    .attr("href", function() {
      return "#" + this.id;
    });
</script>
